:root{
--soft-red: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);
--dark-desaturated-cyan: hsl(167, 40%, 24%);
--dark-blue: hsl(198, 62%, 26%);
--dark-moderate-cyan: hsl(168, 34%, 41%);

--very-dark-desaturated-blue: hsl(212, 27%, 19%);
--very-dark-grayish-blue: hsl(213, 9%, 39%);
--dark-grayish-blue: hsl(232, 10%, 55%);
--grayish-blue: hsl(210, 4%, 67%);
}

html{
    font-size: 11px;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
body{
    margin:0;
    padding:0;
}
.intro{
  height: 100vh;;
  background-image: url("../images/desktop/image-header.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
    &__text{
        display: block;
        text-align: center;
        margin-top: 9.7rem;
        color:white;
        font-family: 'Fraunces', serif;
        font-size: 5.3rem;
        letter-spacing: 0.15em;
        font-weight: 900;
    }
    &__arrow-down-container{
        margin: 6% auto;
        width:2rem;
    }
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5em 4.1rem 0 3.9rem;
    width: 100%;
    
    &__logo{
        img{
            width:16rem;
        }
    }

    ul{       
        margin: 0;
        display: flex;
        align-items: center;
        font-family: "Barlow", serif;
        font-size: 1.5rem;
        list-style: none;
        color:white;

        & > * {
            margin-left: 3.1em;
        }

        .btn{
            font-family: 'Fraunces', serif;
            font-size: 1.45rem;
            padding: 1em 1.8em;
            color: black;
            border-radius: 100px;
            background-color: white;
        }
    }
    .hamburger-menu-container{
        display: none;
        img{
            width: 2.1rem;
        }
    }
}

.mobile-menu{
    display: none;
    position: fixed;
    top: 8rem;
    width: 80%;
    max-width: 300px;
    right: 7.5%;
    background-color: white;

    &__content-wrapper{
        position: relative;
        width: 80%;
        display: flex;
        justify-content: center;

        &:after{
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            top: -25px;
            right: -25%;
            border-bottom: 25px solid white;
            border-left: 25px solid transparent;            
        }
    }
}
.left-point{
	width: 0;
	height: 0;
	border-left: 2vh solid transparent;
	border-right: 2vh solid transparent;
	border-top: 10vh solid var(--main-dark-color);
	position: absolute;
	top: 45%;
	left: -10%;
	transform: rotate(60deg);
}
.mobile-menu-links{
    font-family: "Barlow", serif;
    font-size: 1.65rem;
    color: var(--grayish-blue);

    li{
        text-align: center;
        margin-bottom: 3rem;
    }

    .btn-mobile{
        margin-top: 1rem;
        font-family: 'Fraunces', serif;
        font-size: 1.45rem;
        padding: 1em 1.8em;
        color: black;
        border-radius: 100px;
        background-color: var(--yellow);
    }
}
.presentation-cards{
    display: flex;
}
.info-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    font-size: 1.3rem;

    &__text-container{
        width: 57%;
        margin-left: 19%;
    }
    &__title{
        font-family: 'Fraunces', serif;
        font-size: 3.3rem;
        font-weight: 900;
    }
    
    &__text{
        font-family: "Barlow", serif;
        margin-top: 18%;
        font-size: 1.6rem;
        line-height: 1.5em;
        opacity: 0.5;
    }

    &__learn-more{
        margin-top: 19%;
        font-family: 'Fraunces', serif;
        font-size: 1.5rem;
        font-weight: 900;
        text-transform: uppercase;

        span{
            position: relative;
            z-index: 20;
            &::before{
                z-index: -1;
                display: block;
                position: absolute;
                content:"";
                width: 100%;
                height: 0.65rem;
                bottom: 0;
                background-color: #FED201;
                opacity: 0.35;
                border-radius: 100px;
            }
            &:hover{
                &:before{
                    opacity: 1;
                }
            }
        }
        span.pink{
            position: relative;
            z-index: 20;
            &::before{
                z-index: -1;
                display: block;
                position: absolute;
                content:"";
                width: 100%;
                height: 0.65rem;
                bottom: 0;
                opacity: 1;
                background-color: #FDDBD2;
                border-radius: 100px;
            }
            &:hover{
                &:before{
                    background-color: #FF7564;
                }
            }
        }
    }
}
.image-card{
    position: relative;
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    width: 50%;
    img{
        width: 100%;
    }
    &__text-container{
        position: absolute;
        width: 50%;
        @media (max-width: 1050px) {
            width: 75%;
            }
        @media (max-width: 900px) {
            width: 95%;
            }
        top: 25vw;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        color: hsl(167, 40%, 24%);
    }
    &__title{
        text-align: center;
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: 2.5rem;
    }
    
    &__text{
        text-align: center;
        margin-top: 2.25vw;
        font-family: 'Barlow', serif;
        line-height: 1.5em;
        font-size: 1.5rem;
    }

}
.testimonials__container{
    width:100%;
    padding: 15rem 10%;
}
.testimonials__title{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-size: 1.8rem;
    letter-spacing: 0.25em;
    font-weight: 900;
    color: var(--grayish-blue);
}
.testimonials__cards-container{
    margin-top: 6.3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.testimonials__card{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__picture{
        text-align: center;
        img{
            width: 6.5rem;
            border-radius: 50%;
        }
    }

    &__text{
        margin-top: 4em;
        font-family: 'Barlow', serif;
        line-height: 1.5em;
        font-size: 1.6rem;
        text-align: center;
        color: var(--very-dark-grayish-blue);
    }

    &__name{
        margin-top: 3em;
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: 1.7rem;
        color: black;
    }

    &__title{
        margin-top: 1.3em;
        font-family: 'Barlow', serif;
        font-size: 1.45rem;
        color: var(--very-dark-grayish-blue);
        opacity: 0.75;
    }
}
.bottom-pictures-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

     &__top-row{ 
        display: flex;
     }
    
     &__bottom-row{
        display: flex;
     }
    picture img{
        display: block;
        width: 100%;
    }
}
footer{
    margin: 0;
    width: 100%;
    background-color: hsl(167, 44%, 70%);
}

.footer__container{
    padding: 7rem 0;
    margin: 0 auto;
    width: 21%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    
    &__logo{
        width: 100%;
        text-align: center;
        filter: invert(43%) sepia(13%) saturate(1537%) hue-rotate(116deg) brightness(88%) contrast(91%);
        img{
            width: 15.5rem;
        }
    }

    &__links{
        margin-top: 3rem;
        display:flex;
        justify-content: space-between;
        font-family: 'Barlow', serif;
        font-size: 1.65rem;
        color: var(--dark-moderate-cyan);
    }

    &__social-links{
        display:flex;
        justify-content: space-between;
        margin-top: 8.2rem;
        padding: 0 20%;

        img{
            width: 1.9rem;
        }
    }
    
}

@media (max-width: 800px) {
    .nav-bar {
        padding: 3rem 2.5rem;
        
        &__logo{
            img{
                width:11.5rem;
            }
        }

        ul{
        display: none;
        }
        .hamburger-menu-container{
            display: block;
        }
    }
    .intro__text{
        font-size: 3.5rem;
    }

    .presentation-cards-container{
        :nth-child(1){
            flex-direction: column-reverse;
        }
    }
    .presentation-cards{
        flex-direction: column;
    }
    .image-card{
        width: 100%;
        overflow: hidden;
    }
    .with-text{
        display: flex;
        align-items: center;
        img{
            min-width: 700px;
        }
    }
    .info-card{
        display: flex;
        justify-content: center;
        width: 100%;
        aspect-ratio: 1;

        &__title{
            font-size: 2.9rem;
        }

        &__text-container{
            margin: 0;
            width: 85%;
            text-align: center;
        }

        &__text{
            margin-top: 5%;
        }

        &__learn-more{
            margin-top: 10%;
        }
    }
    .image-card__text-container{
        top: 65%;
    }

    .testimonials{
        &__title{
            font-size: 1.5rem;
        }

        &__container{
            padding: 6rem 5%;
        }
    
        &__cards-container{
            margin-top: 0;
            flex-direction: column;
            align-items: center
        }

        &__card{
            margin-top: 6em;
            
            width: 90%;

            &__text{
                margin-top: 2em;
            }

            &__name{
                margin-top: 2em;
            }
        }
    }

    .bottom-pictures-container{
        flex-wrap: wrap;
    }
}